<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing <%= post.name %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="edit-body">
    <h1>Edit <%= post.description in <%= post.name %></h1>
    <form
        action="/users/<%= user._id %>/posts/<%= post._id %>?_method=PUT"
        method="POST"
    >
        <label for="name">name</label>
        <input type="text" name="name" id="name" value="<%= poast.name %>">

        <label for="description">description</label>
        <textarea name="description" id="description"><%= post.description %></textarea>

        <label for="image">Image</label>
        <input
            type="image"
            name="image"
            id="image"
            value="<%= post.image %>"
        >

        <button type="submit">Update Post</button>
    </form>
    </div>
</body>
</html>