<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= post.name %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="show-post">
        <h1 class="show-post-title"><%= post.name %></h1>
        <% if (post.image) { %>
        <img class="show-post-image" src="<%= post.image %>" alt="<%= post.name %>"
            onerror="this.style.display='none'" />
        <% } %>
        <p class="show-post-description"><%= post.description %></p>
        <div class="post-actions">
            <a href="/users/<%= user._id %>/posts/<%= post._id %>/edit" class="show-edit-btn">Edit Post</a>
            <form action="/users/<%= user._id %>/posts/<%= post._id %>?_method=DELETE" method="POST">
                <button type="submit" class="show-delete-btn">Delete Post</button>
            </form>
            <a href="/users/<%= user._id %>/posts" class="show-back-btn">Back to list</a>
        </div>
    </div>
</body>
</html>